<%= form_with(model: queijo, local: true) do |form| %>
  <% if queijo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(queijo.errors.count, "error") %> prohibited this queijo from being saved:</h2>

      <ul>
        <% queijo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :tamanho %>
    <%= form.text_field :tamanho %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
